# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.venv/
env/
venv/

# Backup / temp files
*.bak
*.tmp
*.swp
*.swo
.DS_Store

# IDE settings
.idea/
.vscode/

# ENV keys or sensitive configs
.env

# Logs
*.log
